<!DOCTYPE html>
<html>
    <head>
        <title>STR - Style Transfer for Recollection</title>
        <!--link href="{{url_for('static', filename='css/vanner_style.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/transfer_style.css')}}" rel="stylesheet">
        <script src="{{ url_for('static',filename='js/transfer.js') }}"></script-->
        <link rel="stylesheet" href="../../static/css/transfer_style.css">
        <script src="../../static/js/transfer.js"></script>
    </head>
    <body>
        <header>
            <!--VANNER-->
            {% include 'vanner.html' %}
        </header>

        <!--page contents-->
        <div class = "process-container">
            <div class ="step-status">
                <span class = "step active" onclick="stepBack(0);">업로드 유형 선택</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = " step" onclick="stepBack(1);">사진 업로드</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = "step" onclick="stepBack(2);">화풍 유형 선택</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = "step" onclick="stepBack(3);">화풍 선택</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = "step" onclick="stepBack(4);">Style transfer</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = "step">결과 확인</span>
            </div>
        </div>
        <div class="uploadtype-container">
            <div class = "singleupload">
                <div class="uploadimg_ex">
                    <div class="uploadimg_ex_one">
                        <img class="upex" src="../../static/images/sample_image.png">
                    </div>
                    <div class="uploadimg_ex_one">
                        <img class= "righttri" src="../../static/images/vector_right_triangle.png">
                    </div>
                    <div class="uploadimg_ex_hor">
                        <img class="upex" src="../../static/images/sample_image.png">
                        <div>OR</div>
                        <img class="upex" src="../../static/images/sample_image.png"> 
                    </div>
                </div>
                <p class="textex">사진에 새로운 화풍을 적용해보세요. 사진 전체에 적용할 수도, 인물을 제외한 배경에만 적용할 수도 있습니다.</p>
                <button type="button" class="minrabtn" id="singleuploadbtn">선택하기</button>
            </div>
            <div class="v-line"></div>
            <div class = "doubleupload">
                <div class="uploadimg_ex">
                    <div class="uploadimg_ex_hor">
                        <img class="upex" src="../../static/images/sample_image.png">
                        <div>
                            <img class="plus" src="../../static/images/vector_plus.png">
                        </div>
                        <img class="upex" src="../../static/images/sample_image.png">
                    </div>
                    <div class="uploadimg_ex_one">
                        <img class= "righttri" src="../../static/images/vector_right_triangle.png">
                    </div>
                    <div class="uploadimg_ex_one">
                        <img class="upex" src="../../static/images/sample_image.png">
                    </div>
                </div>
                <p class="textex">새로운 배경에 인물을 합성해보세요. 배경에 새로운 화풍을 적용한 뒤, 인물을 사진의 위치에 합성합니다.</p>
                <button type="button" class="minrabtn" id="doubleuploadbtn">선택하기</button>
            </div>
        </div>

    </body>
</html>